* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container {
    width: 1366px;
    margin: 0 auto;

}

body {
    font-family: sans-serif;
    background: url(/images/Фон\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}
main {

}
.header {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.4);
}


.header_link {
    text-decoration: none;


}

.header_logo {
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    color:#FFFFFF; 
    padding: 18px 0 18px 79px;

}

.header_logo:hover {
    color: #3CB878;
    cursor: pointer;
}

.header_icons {
    margin: 16px 0;
    display: flex;
    gap: 25px;
    cursor: default;

}



.header_icons-item path:hover {
    fill: #3CB878;
    cursor: pointer;
}

.header_title-item {
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    margin: 18px 80px 18px 0;

}

.header_title-item span:hover {
    color: #3CB878;
    cursor: pointer;

}


 .header_title-item:hover {
    color: grey;
 }


 .header_content {
    display: flex;
    justify-content: space-between;
 }

 .header_right {
    display: flex;
    align-items: center; 
    gap: 27px;
}

.line {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.line::after {
    content: " ";
    background: #FFFFFFE5;
    opacity: 50%;
    width: 2px;
    height: 19px;
    right: -3px;
    position: absolute;
}

.form {
    background-color: #FFFFFF;

}


.form_info {
    width: 444px;
    background-color: #fff;
    position: relative;
    padding: 30px 60px 14px;
    margin: 54px auto 0;

}

.form_text {
    display: flex;
    justify-content: space-between;
}

.form_text-left {
    font-size: 20px;
    line-height: 20px;
    color: #434343;
  
}


.form_text-right {
font-size: 14px;
line-height: 14px;
color: #3CB878;
cursor: pointer;


}



.square {
    width: 18px; 
    height: 18px; 
    background-color: #3CB878;
    position: absolute;
    left: 0;
  }

.form_text-right:hover {
    color: #01813F;
    text-decoration: underline;
    
}

.form_content-field {
    width: 100%;
    padding: 16px 20px 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    border-radius: 5px;
    outline: none;
    margin: auto 0 16px  ;
    border: 1px solid #F2F2F2
    


}



.button_facebook {
    display: flex;
    background-color: #305DB8;
    height: max-content;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

.button_facebook:hover {
    background-color: #022263;


}

.button_text {
    color: #FFFFFF;

}

.button_text-f {
    color: #FFFFFF;
    padding: 17px 28px 17px 18px;
}

.button_text-g {
    color: #FFFFFF;
    padding: 17px 27px 17px 30px;
}



.button_google {
    display: flex;
    background-color: #DF4A32;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    

}

.button_google:hover {
    background-color: #AB1F09;
    cursor: pointer;
}


.button {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;

}

.picture-f {
     padding: 12px 12px 12px 18px; 
}

.picture-g {
    padding: 15px 15px 14px 15px;
}

.line_f,
.line_g {
    position: relative;
    display: inline-block;
    margin: 10px 0;

}

.line_f::after,
.line_g::after {
    content: " ";
    background: #0A162F;
    opacity: 10%;
    width: 2px;
    height: 28px;
    position: absolute;
}


.line_left {
    position: relative;
    display: inline-block;
    top: 12px;

}

.line_left::after {
    content: " ";
    background: #0A162F;
    opacity: 10%;
    width: 152px;
    height: 1px;
    position: absolute;
}

.line_right {
    position: relative;
     display: inline-block; 
    left: 170px;
    bottom: 20px;
}


.line_right::before {
    content: " ";
    background: #0A162F;
    opacity: 10%;
    width: 152px;
    height: 1px;
    position: absolute;

}



.form_content-field::placeholder {
    color: #BEBEBE;
    ;
}



.form_content-field:focus {
    color: #434343;
    box-shadow: 0px 3px 8px 0px #00000036;


}

.form_content-agree {
    display: flex;
    gap: 8px;
    margin-top: 12px;

}

.checkbox_text {
font-size: 14px;
line-height: 14px;
color: #434343;

}
.checkbox_terms {
font-size: 14px;
line-height: 14px;
text-align: left;
color: #3CB878;
;

}

.checkbox_terms:hover { 
    color: #01813F;
    text-decoration: underline;
}
.form_text-or {
    margin-top: 20px;
}   




.text_or {
    text-align: center;
}

.button-2 {
    padding: 16px 99px;
    margin-top: 20px;
    width: 100%;
    margin-bottom: 38px;
    font-size: 16px;
    line-height: 16px;
    background-color: #3CB878CC;
    color: #FFFFFF;
    border: none;
    border-radius: 3px;
}
.button-2:hover {
    background-color: #01813F;
    ;
}